/* Reset some default styles */
body, h2, p {
    margin: 0;
    padding: 0;
}

/* Apply responsive styling using CSS Grid */
.bs-main {
    /* text-align: center; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    /* border-top:8px #008254 solid; */
    width: 50%;
    margin: 0 auto; /* Center the .bs-main section */
}

.bs-label {
    font-family: 'Gotham';
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.bs-label2 {
    font-family: 'Gotham';
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.bs-block {
    margin: 10px;
    font-family: 'Gotham';
    font-family: 'Montserrat', sans-serif;
    background-color: #008254;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.bs-label-option {
    cursor: pointer;
}

.bs-block:hover {
    opacity: 0.8;
    transition: 1s ease-in-out;
}

.bs-bar {
    width: 100%;
    background-color: #008254;
    height: 60px;
    margin-bottom: 50px;
}

.bs-buttons2 {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.bs-send-button {
    padding: 10px 20px;
    background-color: #008254;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Gotham';
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 768px) {
    .bs-main {
        width: 80%;
        border-top:8px #008254 solid;
    }
  
    .bs-bar {
        display: none;
    }
}

/* Product-section */
.bs-product-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
    height: 60vh;
}

.bs-product-image {
    text-align: center;
}

.bs-product-image img {
    max-width: 100%;
    height: auto;
}

.bs-product-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

.bs-txt-h1 {
    font-size: 44px;
    margin-bottom: 10px;
    font-family: 'Gotham';
    font-family: 'Montserrat', sans-serif;
    color: #008254;
}

.bs-txt-h2 {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Gotham';
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.bs-txt-p {
    font-size: 16px;
    margin-bottom: 20px;
    font-family: 'Gotham';
    font-family: 'Montserrat', sans-serif;
}

.bs-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}

.bs-buy-button, .bs-review-button {
    padding: 10px 20px;
    background-color: #008254;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Gotham';
    font-family: 'Montserrat', sans-serif;
}

.bs-review-button {
    background-color: #fffb00;
    color: black;
}

/* Media Queries for Responsive Design */
@media (min-width: 768px) {
    .bs-product-container {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    
    .bs-product-image {
        text-align: left;
    }
    
    .bs-product-info {
        text-align: left;
    }
}
